GARDENA_USERNAME=email@something.com
GARDENA_PASSWORD=pa$$woRd
GARDENA_APIKEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MQTT_PORT=8883
MQTT_URL=mqtt://my.mqtt.server
MQTT_PUBLISH_TOPIC=gardena/incoming
MQTT_SECURE=true
TLS_SERVER_CERT=/home/cert/server.pem
TLS_SERVER_KEY=/home/cert/server.key
TLS_CA_CERT=/home/cert/ca.pem